.header {
    background-image: url(../img/bg-header.webp);
}

.size__img {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 7px 7px 7px rgba(0 0 0 / 0.5);
    border: ridge #fff;
}

.card {
    transition: 800ms;
}

.card:hover {
    transition: 800ms;
    transform: scale(1.06, 1.06);
    box-shadow: 0px 0px 15px #75868f;
}