.header {
    background-image: url(../img/bg-header.webp);
}
.size__img {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 7px 7px 7px rgba(0 0 0 / 0.5);
    border: ridge #fff;
  }
